<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/dsmh.css">
</head>

<!--
    传出去 random，page number，search string
    传进来 images，titles，links，pages，current page
-->
<body>

    <div class="container">

            <table id="header" class="page-table center ">
                    <tbody >
                        <tr>
                        <td>
                        <a href="{{menu_link}}"> Menu </a>
                        </td>
                        <td>
                        <a href="{{prev_link}}"> Prev </a>
                        </td>
                        <td>
                        <a href="{{next_link}}"> Next </a>
                        </td>
                        </tr>
                    </tbody>
            </table>

            {{#contents}}
                <img src="{{.}}" class="img-content" />
            {{/contents}}

            <table id="pages" class="page-table center footer">
                    <tbody >
                        <tr>
                        <td>
                        <a href="{{menu_link}}"> Menu </a>
                        </td>
                        <td>
                        <a href="{{prev_link}}"> Prev </a>
                        </td>
                        <td>
                        <a href="{{next_link}}"> Next </a>
                        </td>
                        </tr>
                    </tbody>
            </table>
    </div>

</body>